html { margin: 0px; padding: 0px; }
body { background: transparent; font: 13px 'Lucida Grande'; color: #fff; width: 289px; height: 326px; }
h2 { font-size: 15px; font-family: 'Lucida Grande'; padding: 6px 0px 0px }

#info { position: absolute; right: 35px; top: 25px; cursor: default; }
#done { position: absolute; left: 25px; bottom: 48px; cursor: default; }
.loadindicator { position: absolute; right: 18px; top: 18px; cursor: default; }
.widgetside { position: relative; width: 289px; height: 326px; }
.widgetside .widgetcontent { padding: 20px 20px; height: 310px; position: relative; }

#front { background: transparent url('../images/bg-front-collapsed.png') no-repeat 0px 0px; }
#front.expanded { background-image: url('../images/bg-front.png'); }
#back { background: transparent url('../images/bg-back.png') no-repeat 0px 0px; }

label { width: 100px; float: left; clear: left; line-height: 21px; margin: 2px 0px; }
input[type=text],
input[type=password] { font-size: 14px; padding: 2px; }
#back input[type=text],
#back input[type=password] { width: 140px; }
#back p { margin: 0px 0px 10px; }
#loginbtn { float: right; }

#show_project { text-decoration: none; font-size: 9px; color: #000; position: absolute; right: 25px; top: 7px;  }
#show_project:hover { color: #666; }
#watch { background: transparent url('../images/watch.png') no-repeat center center; width: 56px; height: 63px; right: 25px; top: 40px; position: absolute; }

input[type=text].error { background: #fcc; }


#projects { font-size: 24px; width: 173px; }

#your_user_id { position: absolute; bottom: 42px; right: 20px; color: #999; font-size: 9px; }
#debug { position: absolute; bottom: 55px; right: 20px; }
#debug input { width: 95px; }
#debugbtn { position: absolute; bottom: 40px; right: 70px; color: #999; font-size: 9px; background: transparent url('../images/debug.png') no-repeat left top; width: 51px; height: 14px; cursor: pointer; }

#projects_container { position: absolute; top: 45px; left: 25px; }
#time_container { position: absolute; top: 79px; left: 25px; height: 25px; width: 173px; text-align: center; font-size: 20px; }
#time_container #time { float: left; }
#time_container input[type=button] { float: right; margin-left: 5px; vertical-align: middle; margin-top: 1px; }

#reportcontainer { position: absolute; top: 155px; left: 20px; width: 250px; }
#reporthours { width: 30px; font-size: 11px; margin-left: 5px; }
#reportdescription { width: 195px; font-size: 11px; margin-top: 3px; }
#reportdate { margin: 3px 0px 0px; }
#reportdate_toggle { font-size: 9px; margin: 3px 0px 0px; cursor: pointer; }
#todolist { height: 70px; overflow: auto; width: 200px; }
#todos { width: 248px; }

#reportbtn { position: absolute; top: 65px; right: 0px; }

#reportcontainerbutton { font-size: 9px; position: absolute; top: 129px; left: 0px; width: 100%; text-align: center;  }
#reportcontainerbutton a { color: #fff; text-decoration: none; }

