body { background: transparent; font: 13px 'Lucida Grande'; color: #fff; width: 400px; height: 350px; }
p { margin: 10px 0px; }

#info { position: absolute; right: 25px; bottom: 10px; cursor: default; }
#done { position: absolute; right: 15px; bottom: 10px; cursor: default; }
.loadindicator { position: absolute; right: 25px; top: 10px; cursor: default; }
.widgetside { background: transparent url('../images/bg.png') no-repeat 0px 0px; position: relative; padding: 10px; width: 380px; height: 330px; }

#reporthours { width: 40px; }
#todolist { height: 70px; overflow: auto; width: 200px; }

label { width: 110px; float: left; }
input[type=text],
input[type=password] { font-size: 14px; padding: 2px; }
#back input[type=text],
#back input[type=password] { width: 250px; }

#show_project { text-decoration: none; font-size: 9px; color: #ddd; }
#show_project:hover { color: #fff; }
